<!-- Services Section -->
<section id="services" class="services section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Desembolsos y Seguimeiento</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6" *ngFor="let service of services" [attr.data-aos]="'fade-up'" [attr.data-aos-delay]="service.delay">
          <div class="service-item position-relative" [ngClass]="service.color">
            <i [class]="service.icon + ' icon'"></i>
            <div>
              <h3>{{ service.title }}</h3>
              <p>{{ service.description }}</p>
              <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-item" style="width: 250px; height: 350px; background: #f5f5f5; padding: 20px; box-shadow: 5px 5px 10px gray;">
        Contenido de prueba
      </div>

  </section>

