<div class="card">
    <div class="font-semibold text-xl mb-4"><h2>Gestion Documento</h2></div> <!-- Titulo -->

    <!-- Botones -->
    <div class="flex gap-4 justify-end">
        <button
            pButton
            label="ir CheckList"
            icon="pi pi-eye"
            (click) = "iraRuta_beca('CheckDocumento')">
        </button>
        <button
            pButton
            label="nuevo"
            icon="pi pi-plus"
            (click) = "modalabrir_agregar()">
        </button>
    </div>

    <!-- Tabla que muestra las solicitudes por aceptar de los postulantes -->
    <p-table
        #dt1
        [value]="Item_Documento"
        [rows]="10"
        [paginator]="true"
        responsiveLayout="scroll"
        [globalFilterFields]="['Titulo', 'Descripcion', 'fechaCreacion']"
        sortMode="multiple"
        class="custom-table"
        [rowsPerPageOptions]="[5, 10, 20]"
        stripedRows>
        <!-- Encabezado personalizado con buscador global y botón -->
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">

            </div>
        </ng-template>

        <!-- Encabezados de la tabla -->
        <ng-template #header>
            <tr>

                <th pSortableColumn="id" >N° <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="Descripcion">Titulo <p-sortIcon field="Descripcion"></p-sortIcon></th>
                <th pSortableColumn="tipo_id" >Tipo <p-sortIcon field="tipo_id"></p-sortIcon></th>
                <th pSortableColumn="tipo_id" > Categoria <p-sortIcon field="tipo_id"></p-sortIcon></th>
                <th pSortableColumn="estado_id" > Estado <p-sortIcon field="estado_id"></p-sortIcon></th>
                <th pSortableColumn="RutaRepositorio" > Ruta <p-sortIcon field="RutaRepositorio"></p-sortIcon></th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template #body let-task>
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.Descripcion }}</td>
                <td>{{ TipoDocumento_Get(task.tipo_id).Nombre }}</td>
                <td>{{ CategoriaDocumento_Get(TipoDocumento_Get(task.tipo_id).Categoria_id ).Nombre }}</td>
                <td>{{ EstadoDocumento_Get(task.tipo_id).Estado }}</td>
                <td>{{ TipoDocumento_Get(task.tipo_id).RutaRepositorio + task.Descripcion }}</td>
                <td>
                    <button
                        pButton
                        label="Detalles"
                        icon="pi pi-eye"
                        (click) = "modalabrir_editar(task)">
                    </button>

                </td>
            </tr>
        </ng-template>

    </p-table>
</div>


   <!-- Modal que muestra una imagen del formulario -->
   <p-dialog
   header="Agregar Formulario"
   [modal]="true"
   [maximizable]="true"
   [(visible)]="Modal_agregar"
   [style]="{ width: '50rem' }">

        <div class="card flex flex-col gap-4">
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Titulo</strong>
                    <input pInputText pKeyFilter="alpha" id="id_titulo" class="flex-auto" autocomplete="off">
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Tipo Documento</strong>
                    <p-select
                    [options]="Item_Documento_Tipo"
                    [filter]="true"
                    optionLabel="Nombre"
                    optionValue="id"
                    placeholder="Tipo de Documento"
                    appendTo="body"
                    class="w-full">
                </p-select>
                </div>
            </div>
        </div>
       <div class="flex justify-end gap-2">
           <p-button label="Agregar" severity="success" (click)="Modal_agregar = false" />
           <p-button label="Regresar" severity="danger" (click)="Modal_agregar = false" />
       </div>
   </p-dialog>




   <!-- Modal que muestra la informacion de la solicitud del postulante -->
   <p-dialog
   header="Editar Documento '{{selectedTask.Descripcion}}'"
   [modal]="true"
   [(visible)]="Modal_Editar"
   [maximizable]="true"
   [style]="{ width: '50rem' }">

        <div class="card flex flex-col gap-4">
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Titulo</strong>
                    <input pInputText pKeyFilter="alpha" id="id_titulo" class="flex-auto" autocomplete="off" [value]="selectedTask.Descripcion" [disabled]="true">
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Tipo Documento</strong>
                    <p-select
                    [options]="Item_Documento_Tipo"
                    [filter]="true"
                    optionLabel="Nombre"
                    optionValue="id"
                    placeholder="Tipo de Documento"
                    appendTo="body"
                    [(ngModel)]="selectedTask.tipo_id"
                    [disabled]="true"
                    class="w-full">
                </p-select>
                </div>
            </div>

                <p-accordion value="0">
                    <p-accordion-panel value="0">
                        <p-accordion-header>historialArchivos</p-accordion-header>
                        <p-accordion-content>
                            <p-panel>
                                <ul>
                                    <li *ngFor="let ar of ArchivoHistorial(selectedTask.id); let i = index">
                                        <p-panel>
                                            <div class="flex justify-between items-center">
                                                <!-- Contenedor de la tabla alineado a la izquierda -->
                                                <table class="p-datatable p-component">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Versión: </strong></td>
                                                            <td><strong>{{ ar.Version }}</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Ruta:</strong></td>
                                                            <td>
                                                                {{ TipoDocumento_Get(selectedTask.tipo_id)?.RutaRepositorio + selectedTask.Descripcion + "_" + ar.Version }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>observacion:</strong></td>
                                                            <td>
                                                                {{ ar.observacion }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <!-- Botón alineado a la derecha -->
                                                <p-button label="Ver" severity="success" (click)="Modal_agregar = false" />
                                            </div>
                                        </p-panel>
                                    </li>
                                </ul>
                            </p-panel>
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>

                <p-fileupload accept="image/*" maxFileSize="1000000"/>


        </div>
   </p-dialog>
