/* Estilos globales */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
  }

  body {
    background: #ffffff;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0; /* Asegura que no haya espacio extra entre los items */
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none; /* Elimina los puntos de la lista, si aplica */
  }


  /* Header Styles */
  .header {
    width: 100%;
    height: 60px;
    background: #ffffff;
    color: #000000;
    border-bottom: 3px solid #253a69; /* Cambié de border-top a border-bottom */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: 'Inter var', sans-serif;
    box-sizing: border-box;
  }

  .header img {
    height: 60px;
    width: auto; /* Mantenemos la relación de aspecto */
  }

  .img-left,
  .img-right {
    flex-shrink: 0; /* Evita que las imágenes se reduzcan demasiado */
    margin-left: 80px;
  }



  .header-text {
    flex-grow: 4;
    text-align: center;
    margin-left: 130px;
    margin-right: 20px;
  }

  .navbar-text {
    font-size: 0.90rem; /* Tamaño del texto */
    font-weight: 600; /* Negrita */
  }

  /* Media Queries para dispositivos móviles */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
      padding: 10px 20px;
      text-align: center;
    }

    .header img {
      height: 40px;
      margin-bottom: 10px;
    }

    .header-text {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .navbar-text {
      font-size: 0.8rem; /* Reducimos el tamaño del texto */
    }
  }

  @media (max-width: 480px) {
    .header img {
      height: 30px;
    }

    .navbar-text {
      font-size: 0.75rem;
    }
  }


  :host ::ng-deep .p-button.custom-button-side {
    background-color: #253a69 !important;
    color: #fff !important;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 0.50rem !important;
    padding: 0.5rem 1rem !important;
    font-weight: 500 !important;
  }

  :host ::ng-deep  .bold-soft {
    font-weight: 600; /* Ajusta este valor para obtener el grosor deseado */
  }

   ::ng-deep .p-button.custom-button-perfil {
    display: inline-flex;
    align-items: center;
    border: 1px solid #d3d3d3 !important;
    border-radius: 0.50rem !important;
    padding: 0.5rem 1rem !important;
    font-weight: 500 !important;
    height: 39px;
    white-space: nowrap;
    width:105px
  }

  ::ng-deep .p-button.custom-button-perfil {
    background-color: #253a69 !important;
    color: #fff !important;
  }

  ::ng-deep .p-button.custom-button-inicio {
    background-color: #62acc5 !important;
    /* Color de fondo azul oscuro */
    color: #fff !important;
    /* Color de texto blanco */
    height: 39px;
    border-radius: 0.50rem !important;
    /* Bordes redondeados similares a Bootstrap */
    padding: 0.5rem 1rem !important;
    /* Espaciado interno */
    font-weight: 500 !important;
    /* Grosor del texto */
    width:105px
  }

  :host ::ng-deep .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px; /* Alto fijo */
    overflow: hidden; /* Evita que la imagen se salga del contenedor */
  }

  :host ::ng-deep .image-container img {
    object-fit: contain; /* Ajusta la imagen para que se reduzca sin perder proporciones */
    border-radius: 10%; /* Hacerla circular */
    max-width: 100%; /* La imagen no será más ancha que el contenedor */
    max-height: 100%; /* La imagen no será más alta que el contenedor */
    transform: scale(0.8); /* Reduce el tamaño de la imagen */
  }

  /* Si la imagen sigue siendo demasiado alta, puedes hacerla aún más pequeña con transform */
  :host ::ng-deep .image-container img:only-child {
    transform: scale(0.7); /* Ajusta este valor según sea necesario */
  }

  :host ::ng-deep .image-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Alto fijo */
    overflow: hidden; /* Evita que la imagen se salga del contenedor */
  }

  :host ::ng-deep .p-image-preview img {
    border-radius: 0; /* Mantén esta regla para evitar que la vista previa sea circular */
  }


  :host  ::ng-deep .bordes{
    color: #253a69;
  }



  :host ::ng-deep .p-button {
    margin: 0 !important;
  }
