<div class="header">
    <!-- Imagen a la izquierda -->
    <div style="display: flex; align-items: center; justify-content: center; margin-left: 2%;">
        <p-button *ngIf="objetosPermitidos.includes(2)" styleClass="fw-bolder custom-button-side" (click)="sidebarVisible = true" raised>
            <i class="pi pi-th-large" style="font-size: 1rem; margin-left: 10px"></i>
        </p-button>

        <p-divider layout="vertical" styleClass="margin: 0 0px;"></p-divider>

        <img src="./assets/Imagenes/DICIHT_Azul.png" alt="Logo Izquierda" class="img-left"
            style="margin-left: 0px; cursor: pointer;" routerLink="/dashboard">

    </div>


    <!-- Texto centrado -->
    <div class="header-text">
    </div>
    <div style="display: flex; align-items: center; justify-content: center; margin-left: 7%;">
        <!-- Aquí se muestra dinámicamente el nombre del usuario -->
        <span class="bold-soft" style="font-size: 1rem; margin-right: 8px;">
            {{ nombreUsuario || 'Bienvenido' }} <!-- Mostrará lo que se ponga entre las comillas si no se encuentra el nombre -->
        </span>

        <div class="image-container">
            <p-image
                [src]="imagenPerfil || './assets/Imagenes/investigador-foto.png'"
                shape="circle"
                alt="Image"
                width="50">
            </p-image>
        </div>


        <p-divider layout="vertical" styleClass="margin: 10px 0px;"></p-divider>

        <p-button *ngIf="objetosPermitidos.includes(2)"  styleClass="fw-bolder" [text]="true" (onClick)="op.toggle($event)">
            <i class="pi pi-caret-down p-text-secondary fw-bold" style="font-size: 1.2rem; margin-left: 10px"></i>
        </p-button>

        <p-overlayPanel #op (onHide)="op.hide()">
            <div class="flex flex-column w-6em">
                <div style="margin-bottom: 0.25rem;" *ngIf="objetosPermitidos.includes(6)">
                    <p-button label="Perfil" icon="pi pi-user-edit fw-medium" routerLink="/usuario/perfil"
                        styleClass="fw-bolder custom-button-perfil" text (click)="op.hide()">
                    </p-button>
                </div>
                <div *ngIf="objetosPermitidos.includes(1)">
                    <p-button label="Inicio" icon="pi pi-home fw-medium" routerLink="/dashboard"
                        styleClass="fw-bolder custom-button-inicio" raised text (click)="op.hide()">
                    </p-button>
                </div>
            </div>
        </p-overlayPanel>


        <p-button styleClass="fw-bolder" [text]="true" [routerLink]="['/usuario/notificacion']">
            <i class="pi pi-bell mr-2 p-text-secondary fw-bold" severity="warning"  [value]="numeroNotificaciones > 0 ? numeroNotificaciones : ''" pBadge style="font-size: 1.2rem"></i>
        </p-button>

        <p-button styleClass="fw-bolder" (click)="onLogoutClick($event)" [text]="true">
            <i class="pi pi-sign-out p-text-secondary fw-bold" style="font-size: 1.2rem; margin-left: 10px"></i>
        </p-button>
    </div>

    <p-sidebar #sidebarRef [(visible)]="sidebarVisible" styleClass="w-22rem">
        <ng-template pTemplate="headless">
            <div class="flex flex-column h-full">
                <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                    <p-image styleClass="image-containers image-containers" class="cursor-pointer"
                        src="./assets/Imagenes/DICIHT_Azul.png" shape="circle" alt="Image" width="220"
                        routerLink="/dashboard" />
                    <span>
                        <p-button type="button" (onClick)="closeCallback($event)" icon="pi pi-times" [text]="true"
                            styleClass="h-2rem w-2rem bordes"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto">

                    <ul class="list-none p-3 m-0">
                        <li>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li *ngIf="objetosPermitidos.includes(1)">
                                    <a pRipple [routerLink]="['/dashboard']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-home mr-2"></i>
                                        <span class="font-medium">Inicio</span>
                                    </a>
                                </li>
                            </ul>
                              <!-- Solicitudes -->
                            <div *ngIf="objetosPermitidos.includes(32)" pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">Solicitudes</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>
                                    <ul class="list-none p-0 m-0 overflow-hidden">
                                        <li *ngIf="objetosPermitidos.includes(4)">
                                            <a pRipple [routerLink]="['/galeria/solicitudes']"
                                                style="text-decoration: none; color: inherit;"
                                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                                <i class="bi bi-collection mr-2"></i>
                                                <span class="font-medium">Galeria de Solicitudes</span>
                                            </a>
                                        </li>
                                        <li *ngIf="objetosPermitidos.includes(19)">
                                            <a pRipple [routerLink]="['/solicitud/direccion']"
                                                style="text-decoration: none; color: inherit;"
                                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                                <i class="bi bi-folder mr-2"></i>
                                                <span class="font-medium">Solicitudes de la Dirección</span>
                                            </a>
                                        </li>
                                        <li *ngIf="objetosPermitidos.includes(49)">
                                            <a pRipple [routerLink]="['/jefes/departamentos']"
                                                style="text-decoration: none; color: inherit;"
                                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                                <i class="pi pi-inbox mr-2"></i>
                                                <span class="font-medium">Solicitudes de Departamento/Facultad</span>
                                            </a>
                                        </li>
                                        <li *ngIf="objetosPermitidos.includes(20)">
                                            <a pRipple [routerLink]="['/solicitud/ugic']"
                                                style="text-decoration: none; color: inherit;"
                                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                                <i class="bi bi-folder mr-2"></i>
                                                <span class="font-medium">Solicitudes de la Unidad de Gestión de la Investigación</span>
                                            </a>
                                        </li>
                                        <li *ngIf="objetosPermitidos.includes(21)">
                                            <a pRipple [routerLink]="['/solicitud/usuario']"
                                                style="text-decoration: none; color: inherit;"
                                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                                <i class="bi bi-folder-plus mr-2"></i>
                                                <span class="font-medium">Mis Solicitudes</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Asignaciones -->
                            <div *ngIf="objetosPermitidos.includes(33)" pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">Asignaciones</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li *ngIf="objetosPermitidos.includes(29)">
                                    <a pRipple [routerLink]="['/asignacion/asistente']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-user-edit mr-2"></i>
                                        <span class="font-medium">Asignaciones del Asistente</span>
                                    </a>
                                </li>
                                <li *ngIf="objetosPermitidos.includes(30)">
                                    <a pRipple [routerLink]="['/asignacion/departamento']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-user-edit mr-2"></i>
                                        <span class="font-medium">Asignaciones del Departamento</span>
                                    </a>
                                </li>
                                <li *ngIf="objetosPermitidos.includes(31)">
                                    <a pRipple [routerLink]="['/asignacion/usuario']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-user mr-2"></i>
                                        <span class="font-medium">Mis Asignaciones</span>
                                    </a>
                                </li>
                            </ul>

                              <!-- Instancias -->
                            <div *ngIf="objetosPermitidos.includes(34)" pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">Instancias</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>

                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li *ngIf="objetosPermitidos.includes(26)">
                                    <a pRipple [routerLink]="['/instancia']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="bi bi-buildings mr-2"></i>
                                        <span class="font-medium">Instancias Académicas </span>
                                    </a>
                                </li>
                            </ul>

                              <!-- Proyectos -->
                            <div *ngIf="objetosPermitidos.includes(35)" pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">Proyectos</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li *ngIf="objetosPermitidos.includes(25)">
                                    <a pRipple [routerLink]="['/proyecto/investigacion']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="bi bi-calendar4-range mr-2"></i>
                                        <span class="font-medium">Proyectos Académicos </span>
                                    </a>
                                </li>
                            </ul>

                              <!-- Investigadores -->
                            <div *ngIf="objetosPermitidos.includes(36)" pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">Red de Investigadores</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li *ngIf="objetosPermitidos.includes(27)">
                                    <a pRipple [routerLink]="['/red/investigadores']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Investigadores</span>
                                    </a>
                                </li>
                                <li *ngIf="objetosPermitidos.includes(28)">
                                    <a pRipple [routerLink]="['/red/grupo/investigadores']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="bi bi-person-lines-fill mr-2"></i>
                                        <span class="font-medium">Grupos de Investigación</span>
                                    </a>
                                </li>
                            </ul>
                              <!-- Seguridad -->
                            <div *ngIf="objetosPermitidos.includes(37)" pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple">
                                <span class="font-medium">Seguridad</span>
                                <i class="pi pi-chevron-down"></i>
                            </div>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li *ngIf="objetosPermitidos.includes(29)">
                                    <a pRipple [routerLink]="['/seguridad/usuario']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-users mr-2"></i>
                                        <span class="font-medium">Administración de Usuarios</span>
                                    </a>
                                </li>
                                <li *ngIf="objetosPermitidos.includes(30)">
                                    <a pRipple [routerLink]="['/mantenimiento/rol']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-shield mr-2"></i>
                                        <span class="font-medium">Roles</span>
                                    </a>
                                </li>
                                <li *ngIf="objetosPermitidos.includes(3)">
                                    <a pRipple [routerLink]="['/reportes']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="bi bi-file-earmark-bar-graph mr-2"></i>
                                        <span class="font-medium">Reportes</span>
                                    </a>
                                </li>
                                <li *ngIf="objetosPermitidos.includes(5)">
                                    <a pRipple [routerLink]="['/galeria/mantenimientos']"
                                        style="text-decoration: none; color: inherit;"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i class="pi pi-cog mr-2"></i>
                                        <span class="font-medium">Ajustes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="list-none p-3 m-0">
                        <li>
                            <ul class="list-none p-0 m-0 overflow-hidden">
                                <li>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="mt-auto">
                    <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                    <a pRipple (click)="onLogoutClick($event)"
                        class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                        <i class="pi pi-sign-out mr-2"></i>
                        <span class="font-medium">Cerrar Sesión</span>
                    </a>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
</div>
