node_modules
.angular
.angular\cache\19.1.4\sakai-ng\vite
.angular/cache/19.1.4/sakai-ng/.tsbuildinfo
.angular/cache/19.1.4/sakai-ng/.tsbuildinfo
.angular/cache/19.1.4/sakai-ng/.tsbuildinfo
.tsbuildinfo
.angular/cache/
