<div class="card">
    <!-- Título principal -->
    <div class="font-semibold text-xl mb-4 text-center">
        <h2>Becas de investigación científica, humanistica y/o de innovación</h2>
    </div>

    <!-- Botones -->
    <div class="flex gap-4 justify-end">
        <button 
            pButton 
            label="Becas" 
            icon="pi pi-image" 
            (click)="openImageModal('becario')">
        </button>
    </div>
    
    <!-- Tabla que muestra las becas -->
    <p-table
        #dt1
        [value]="tasks"
        [rows]="5"
        [paginator]="true"
        responsiveLayout="scroll"
        [globalFilterFields]="['id', 'soli', 'beca', 'montobeca', 'postulante', 'montoasignado']"
        sortMode="multiple"
        class="custom-table"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        stripedRows>

        <!-- Encabezado personalizado con buscador global y botón -->
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center flex-column sm:flex-row">
                 <!-- Selector dinámico de columnas -->
                <p-multiselect
                    display="chip"
                    [options]="Cols"
                    [(ngModel)]="selectedColumns"
                    optionLabel="header"
                    selectedItemsLabel="{1} columnas seleccionadas"
                    [style]="{ 'min-width': '200px' }"
                    placeholder="Elige Columnas">
                </p-multiselect>

                <!-- Filtro global y botón Clear -->
                <div class="flex align-items-center mt-2 sm:mt-0">
                    <button
                    pButton
                    label="Clear"
                    class="p-button-outlined mr-2"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt1)">
                    </button>
                    <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt1, $event)"
                        placeholder="Buscar..." />
                    </p-iconfield>
                </div>
            </div>
        </ng-template>

        <!-- Encabezados de la tabla -->
        <ng-template pTemplate="header">
            <tr> 
                <!-- Se recorren las columnas seleccionadas con estilos corregidos -->
                <th *ngFor="let col of selectedColumns" [pSortableColumn]="col.field" class="header-nowrap">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class="header-nowrap">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-task>
            <tr>
                <!-- Se muestran los valores de cada columna seleccionada -->
                <td *ngFor="let col of selectedColumns">
                    <ng-container [ngSwitch]="col.field">
                        <!-- Por defecto se muestra el valor sin formato adicional -->
                        <ng-container *ngSwitchDefault>
                            {{ task[col.field] }}
                        </ng-container>
                    </ng-container>
                </td>
                <td>
                    <button 
                        pButton 
                        label="Detalles" 
                        icon="pi pi-eye" 
                        (click)="openModal(task)">
                    </button>
                </td>
            </tr>
        </ng-template>
        
    </p-table>

    <!-- CSS para corregir encabezados -->
    <style>
        .header-nowrap {
        white-space: nowrap; /* Evita el salto de línea */
        text-align: center; /* Centra el texto */
        padding: 10px; /* Espaciado */
        }
    </style>

    <!-- Modal que muestra una imagen del formulario -->
    <p-dialog 
        header="Información general de la beca" 
        [modal]="true" 
        [(visible)]="imagen" 
        [style]="{ width: '80rem' }">
        
        <div class="flex flex-col items-center">
            <img src="assets/imagenes/monto default por beca.png" alt="Imagen de las becas" class="rounded-lg shadow-lg">
        </div>

    </p-dialog>


    <!-- Modal que agrega la informacion de las becas -->
    <p-dialog 
        header="Información sobre las becas" 
        [modal]="true" 
        [maximizable]="true"
        [(visible)]="displayNewModal" 
        [style]="{ width: '50rem' }">
        <div class="card flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <strong>Número de Solicitud</strong>
                <p-dropdown 
                  [options]="soli" 
                  placeholder="Seleccione una Solicitud"
                  [editable]="true"
                  optionLabel="name">
                </p-dropdown>
            </div>
            <div class="flex flex-col gap-2">
                <strong>Beca</strong>
                <p-dropdown 
                [options]="beca" 
                placeholder="Seleccione una Beca"
                [editable]="true"
                optionLabel="name">
                </p-dropdown>
            </div>
            
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Monto Aprobado</strong> {{ selectedTask.montoaprobados }}
                    <input pInputText id="montoaprobado" class="flex-auto" autocomplete="off"/>
                </div>
            </div>    
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Enviar" (click)="displayNewModal = false" />
            <p-button label="Cerrar" (click)="displayNewModal = false" />
        </div>
    </p-dialog>

    <!-- Modal que muestra la informacion de las becas -->  
    <p-dialog 
        header="Información sobre los tipos de becas" 
        [modal]="true" 
        [maximizable]="true"
        [(visible)]="displayModal" 
        [style]="{ width: '100rem' }">
        <div class="card">
            <div class="flex mb-4 gap-2 justify">
                <!-- Botones que cambian el índice del acordeón -->
                <p-button (click)="activeIndex = 0" [rounded]="true" label="1" class="w-8 h-8 p-0" [outlined]="activeIndex !== 0"></p-button>
                <p-button (click)="activeIndex = 1" [rounded]="true" label="2" class="w-8 h-8 p-0" [outlined]="activeIndex !== 1"></p-button>
            </div>

             <!-- Acordeón controlado -->
             <p-accordion [(value)]="activeIndex">
                <p-accordion-panel [value]="0">
                    <p-accordion-header>Solicitud de Beca</p-accordion-header>
                    <p-accordion-content>
                        <div class="card flex flex-col gap-4">
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <strong>Número de Solicitud</strong> {{ selectedTask.solis }}
                                    <input pInputText pKeyFilter="alpha" [disabled]="true" id="id_solicitud" class="flex-auto" autocomplete="off" [value]="selectedTask.soli"/>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <strong>Beca</strong> {{ selectedTask.becas }}
                                    <input pInputText pKeyFilter="alpha" [disabled]="true" id="beca" class="flex-auto" autocomplete="off" [value]="selectedTask.beca"/>
                                </div>
                            </div>
                            <p-accordion [(value)]="datos">
                                <p-accordion-panel [value]="0">
                                    <p-accordion-header>Información del Postulante</p-accordion-header>
                                    <p-accordion-content>
                                        <div class="card flex flex-col gap-4">
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Nombre Completo</strong> {{ selectedTask.nombreCompletos }}
                                                    <input pInputText pKeyFilter="alpha" [disabled]="true" id="id_titulo" class="flex-auto" autocomplete="off" [value]="selectedTask.postulante"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Dirección Domicilio</strong> {{ selectedTask.direccionDomicilios }}
                                                    <input pInputText id="id_descipcion" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.direccionDomicilio"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de identidad</strong> {{ selectedTask.numeroIdentidads }}
                                                    <input pInputText id="id_descipcion" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroIdentidad"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de RTN</strong> {{ selectedTask.numeroRTNs }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroRTN"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Estado Civil</strong> {{ selectedTask.estadoCivils }}
                                                    <input pInputText id="id_descipcion" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.estadoCivil"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Profesión</strong> {{ selectedTask.profesions }}
                                                    <input pInputText id="id_descipcion" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.profesion"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Correo Electrónico</strong> {{ selectedTask.correoElectronicos }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.correoElectronico"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de Telefono</strong> {{ selectedTask.numeroTelefonos }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroTelefono"/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="font-semibold text-xl">Información Universitaria</div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de Estudiante</strong> {{ selectedTask.numeroEstudiantess }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroEstudiante"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Nombre de la carrera</strong> {{ selectedTask.nombreCarreras }}
                                                    <input pInputText id="id_descipcion" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.nombreCarrera"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Nombre del proyecto</strong> {{ selectedTask.nombreProyectos }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.nombreProyecto"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Seleccione el Licenciado Aval</strong> {{ selectedTask.avals }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.aval"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Estado de la Solicitud</strong> {{ selectedTask.estados }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.estado"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Fecha de Creación</strong> {{ selectedTask.fechaCreacions }}
                                                    <input pInputText id="id_titulo" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.fechaCreacion"/>
                                                </div>
                                            </div>
                                        </div>
                                    </p-accordion-content>
                                </p-accordion-panel>
                                <p-accordion-panel [value]="1">
                                    <p-accordion-header>Información del Aval</p-accordion-header>
                                    <p-accordion-content>
                                        <div class="card flex flex-col gap-4">
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Nombre Completo</strong> {{ selectedTask.nombreCompletoavals }}
                                                    <input pInputText pKeyFilter="alpha" [disabled]="true" id="nombrecompletoaval" class="flex-auto" autocomplete="off" [value]="selectedTask.nombrecompletoaval"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Dirección Domicilio</strong> {{ selectedTask.direccionDomicilioavals }}
                                                    <input pInputText id="direccionDomicilioaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.direccionDomicilioaval"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de identidad</strong> {{ selectedTask.numeroIdentidadavals }}
                                                    <input pInputText id="numeroIdentidadaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroIdentidadaval"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de RTN</strong> {{ selectedTask.numeroRTNavals }}
                                                    <input pInputText id="numeroRTNaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroRTNaval"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Estado Civil</strong> {{ selectedTask.estadoCivilavals }}
                                                    <input pInputText id="estadoCivilaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.estadoCivilaval"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Profesión</strong> {{ selectedTask.profesionavals }}
                                                    <input pInputText id="profesionaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.profesionaval"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Correo Electrónico</strong> {{ selectedTask.correoElectronicoavals }}
                                                    <input pInputText id="correoElectronicoaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.correoElectronicoaval"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de Telefono</strong> {{ selectedTask.numeroTelefonoavals }}
                                                    <input pInputText id="numeroTelefonoaval" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroTelefonoaval"/>
                                                </div>
                                            </div>
                                            <div class="flex flex-wrap gap-6">
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Número de Empleado</strong> {{ selectedTask.numeroempleadoavals }}
                                                    <input pInputText pKeyFilter="alpha" [disabled]="true" id="numeroempleadoaval" class="flex-auto" autocomplete="off" [value]="selectedTask.numeroempleadoaval"/>
                                                </div>
                                                <div class="flex flex-col grow basis-0 gap-2">
                                                    <strong>Unidad/Departamento o Instancia a la que pertenece</strong> {{ selectedTask.unidepinstacias }}
                                                    <input pInputText id="unidepinstacia" [disabled]="true" class="flex-auto" autocomplete="off" [value]="selectedTask.unidepinstacia"/>
                                                </div>
                                            </div>
                                        </div>
                                    </p-accordion-content>
                                </p-accordion-panel>
                                <p-accordion-panel [value]="2">
                                    <p-accordion-header>Información del Proyecto</p-accordion-header>
                                    <p-accordion-content>
                                        
                                    </p-accordion-content>
                                </p-accordion-panel>
                            </p-accordion>
                        </div>
                        <div class="flex justify-end gap-2">
                            <p-button label="Rechazar" severity="danger" (click)="activeIndex = 1" />
                            <p-button label="Aceptar" severity="success" (click)="activeIndex = 2" />
                            <p-button label="Regresar" (click)="displayModal = false" />
                        </div>
                    </p-accordion-content>
                    
                </p-accordion-panel>
                <p-accordion-panel [value]="1">
                    <p-accordion-header>Rechazo</p-accordion-header>
                    <p-accordion-content>
                        <div class="card flex flex-col gap-4">
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <strong>Motivo de rechazo de la beca</strong> {{ selectedTask.motivorechazos }}
                                    <input pInputText id="motivorechazo" class="flex-auto" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel [value]="2">
                    <p-accordion-header>Aprobación</p-accordion-header>
                    <p-accordion-content>
                        <div class="card flex flex-col gap-4">
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <strong>Motivo de Aprobación de la beca</strong> {{ selectedTask.motivoaprobacions }}
                                    <input pInputText  id="motivoaprobacion" class="flex-auto" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-6">
                                <div class="flex flex-col grow basis-0 gap-2">
                                    <strong>Monto Aprobado a la beca del postulante</strong> {{ selectedTask.montoaprobados }}
                                    <input pInputText  id="montoaprobado" class="flex-auto" autocomplete="off" [value]="selectedTask.montoaprobado"/>
                                </div>
                            </div>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </div>  
        <div class="flex justify-end gap-2">
            <p-button label="Regresar" (click)="displayModal = false" />
        </div>
    </p-dialog>
</div>
