    <!-- Titulo de la pantalla -->
    <div class="font-semibold text-xl mb-4">
        <h2>Formulario - {{getdata_array(Formulario, id_formulario)?.Titulo}}</h2>
    </div>

    <!--
    aqui se construye el formulario dependiendo de los datos
    -->
    <ul>
        <li *ngFor="let t of getFilteredInput(id_formulario); let i = index">
            <p-card header="{{ i + 1 }}. {{ t.Pregunta }}">
                <p-skeleton *ngIf="loading" height="3rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton *ngIf="loading" height="1rem"></p-skeleton>
                <div *ngIf="!loading" class="flex flex-wrap gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <input *ngIf="t.tipo == 1" pInputText class="flex-auto" autocomplete="off">
                        <p-inputnumber *ngIf="t.tipo == 2" class="flex-auto" autocomplete="off"/>
                        <p-fileupload *ngIf="t.tipo == 4" #fu mode="basic" chooseLabel="Choose"
                            chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            accept="image/*" maxFileSize="1000000"/>
                        <p-editor *ngIf="t.tipo == 3" [style]="{ height: '320px' }"/>

                        <!-- Filtrado de opciones según input.id -->
                        <ul *ngIf="t.tipo == 6">
                            <div *ngFor="let c of getFilteredInputTipoList(t.id)" class="flex items-center">
                                <p-checkbox [inputId]="c.key" name="group" [value]="c.key"/>
                                <label [for]="c.key" class="ml-2"> {{ c.name }} </label>
                            </div>
                        </ul>

                        <ul *ngIf="t.tipo == 5">
                            <div *ngFor="let c of getFilteredInputTipoList(t.id)" class="flex items-center">
                                <p-radiobutton [inputId]="c.key" name="group" [value]="c.key"/>
                                <label [for]="c.key" class="ml-2"> {{ c.name }} </label>
                            </div>
                        </ul>
                    </div>
                </div>
            </p-card>
            <br><br>
        </li>
    </ul>

    <p-card class="flex justify-center items-center h-32">
        <div class="flex justify-center items-center w-full h-full">
            <p-skeleton *ngIf="loading" height="2rem" width="8rem"></p-skeleton>
            <p-button *ngIf="!loading" label="Guardar respuestas" icon="pi pi-check" />
        </div>
    </p-card>


