

<div class="card">
    <div class="font-semibold text-xl mb-4"><h2>Formulario - {{getTaskById(id)?.Titulo}}</h2></div> <!-- Titulo -->

    <!-- Botones -->
    <p-card>
        <div class="flex gap-4 justify-end">
            <button
                pButton
                label="nuevo"
                icon="pi pi-plus">
            </button>
        </div>
    </p-card>
    <br><br><br>

    <ul>
        <li *ngFor="let t of filteredTasks; let i = index">
            <p-card header="{{tasks[i]['Pregunta']}}">
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <input          *ngIf="tasks[i]['tipo']==1"  pInputText  class="flex-auto" autocomplete="off">
                        <p-inputnumber  *ngIf="tasks[i]['tipo']==2"  pInputNumer  class="flex-auto" autocomplete="off"/>
                        <p-fileupload   *ngIf="tasks[i]['tipo']==4"  #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" />
                        <p-editor       *ngIf="tasks[i]['tipo']==3"  [style]="{ height: '320px' }" />
                    </div>
                </div>
            </p-card>
            <br><br>

        </li>
    </ul>






</div>
