<div class="card">
    <div class="font-semibold text-xl mb-4"><h2>Formulario</h2></div> <!-- Titulo -->

    <!-- Botones -->
    <div class="flex gap-4 justify-end">
        <button
            pButton
            label="nuevo"
            icon="pi pi-plus"
            (click)="modalabrir_agregar()">
        </button>
    </div>

    <!-- Tabla que muestra las solicitudes por aceptar de los postulantes -->
    <p-table
        #dt1
        [value]="tasks"
        [rows]="10"
        [paginator]="true"
        responsiveLayout="scroll"
        [globalFilterFields]="['title', 'description', 'type', 'status']"

    >
        <!-- Encabezado personalizado con buscador global y botón -->
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <!-- Botón para limpiar filtros -->
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined mb-2"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt1)">
                </button>

                <!-- Campo de búsqueda -->
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt1, $event)"
                        placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>

        <!-- Encabezados de la tabla -->
        <ng-template #header>
            <tr>
                <th>N°</th>
                <th>Pregunta</th>
                <th>Tipo</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template #body let-task>
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.Titulo }}</td>
                <td>{{ task.Descripcion }}</td>
                <td>{{ task.fechaCreacion | date: 'MM/dd/yyyy' }}</td>
                <td>
                    <button
                        pButton
                        label="Detalles"
                        icon="pi pi-eye"
                        (click)="modalabrir_editar(task)">
                    </button>
                    <button
                        pButton
                        label="Ver Items"
                        icon="pi pi-eye"
                        (click)="irADetallesConId(task.id)">
                    </button>

                </td>
            </tr>
        </ng-template>

    </p-table>

    <!-- Modal que muestra una imagen del formulario -->
    <p-dialog
    header="Agregar Formulario"
    [modal]="true"
    [maximizable]="true"
    [(visible)]="Modal_agregar"
    [style]="{ width: '50rem' }">

        <div class="card flex flex-col gap-4">
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Formulario</strong>
                    <input pInputText  class="flex-auto" autocomplete="off">
                </div>
            </div>
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Descripcion</strong>
                    <textarea pTextarea id="id_descipcion" [rows]="5"></textarea>
                </div>
            </div>
        </div>

        <div class="flex justify-end gap-2">
            <p-button label="Agregar" severity="success" (click)="Modal_agregar = false" />
            <p-button label="Regresar" severity="danger" (click)="Modal_agregar = false" />
        </div>
    </p-dialog>

    <!-- Modal que muestra la informacion de la solicitud del postulante -->
    <p-dialog
    header="Editar Formulario"
    [modal]="true"
    [(visible)]="Modal_Editar"
    [maximizable]="true"
    [style]="{ width: '50rem' }">

        <div class="card flex flex-col gap-4">
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Formulario</strong>
                    <input pInputText pKeyFilter="alpha" id="id_titulo" class="flex-auto" autocomplete="off" [value]="selectedTask.Titulo">
                </div>
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Fecha</strong>
                    <p-calendar [(ngModel)]="selectedTask.fechaCreacion" appendTo="body"></p-calendar>
                </div>
            </div>
            <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0 gap-2">
                    <strong>Descripcion</strong>
                    <textarea pTextarea id="id_descipcion" [rows]="5"> {{ selectedTask.Descripcion }} </textarea>
                </div>
            </div>
        </div>

        <div class="flex justify-end gap-2">
            <p-button label="Agregar" severity="success" (click)="Modal_Editar = false" />
            <p-button label="Regresar" severity="danger" (click)="Modal_Editar = false" />
        </div>
    </p-dialog>











</div>
