

<div class="card">
    <div class="font-semibold text-xl mb-4"><h2>Formulario - {{getTaskById(id)?.Titulo}}</h2></div> <!-- Titulo -->

    <!-- Botones -->
    <p-card>
        <div class="flex gap-4 justify-end">
            <button
                pButton
                label="nuevo"
                icon="pi pi-plus">
            </button>
        </div>
    </p-card>
    <br><br><br>

    <ul>
        <li *ngFor="let t of filteredTasks; let i = index">
            <p-card header="Item {{i}}">

                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <strong>Formulario</strong>
                        <input pInputText pKeyFilter="alpha" id="id_titulo" class="flex-auto" autocomplete="off" [value]="tasks[i]['Pregunta']">
                    </div>
                    <div class="flex flex-col grow basis-0 gap-2">
                        <strong>Tipo</strong>
                        <p-select [options]="tipo" optionLabel="name" placeholder="tipo de respuesta" class="w-full"/>
                    </div>
                </div>
                <div class="flex flex-wrap gap-6">
                    <div class="flex flex-col grow basis-0 gap-2">
                        <strong>Descripcion</strong>
                        <textarea pTextarea id="id_descipcion" [rows]="5">  </textarea>
                    </div>
                </div>
            </p-card>
<br><br>

        </li>
    </ul>











</div>
