/* Modal overlay (fondo oscuro detrás del modal) */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté sobre otros elementos */
    transition: all 0.3s ease;
  }

  /* Modal container */
    .modal {
        background: #ECECEC url('/assets/Sol_Izquierdo.png') no-repeat center center;
        background-size: cover; /* Ajusta la imagen al tamaño del modal */
        width: 400px;
        max-width: 90%;
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        border-radius: 8px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }


  /* Al hacer visible el modal, lo movemos a la pantalla */
  .modal-overlay .modal {
    transform: translateX(0); /* Modal se desliza desde el lado derecho */
  }

  /* Cabecera del modal */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header h2 {
    color: #0e0c0c; /* color del titulo*/
  }

  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Cuerpo del modal */
  .modal-body {
    color: #0d0d0d;/* color de las letras de los parrafos*/
    margin-top: 10px;
  }

  /* estilo de las tarjetas */
  .stats-container {
    display: flex;
    flex-direction: column; /* Asegura una alineación vertical */
    align-items: flex-end; /* Alinea todo a la derecha */
    width: auto;
}

.stats-widgets {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaciado entre tarjetas */
    width: 250px; /* Ajusta el ancho si es necesario */
}

.card {
    margin-bottom: 20px; /* Aumenta la separación entre tarjetas */

}

.grid-container {
    display: flex;
    justify-content: flex-end; /* Asegura que el grid también se alinee a la derecha */
    gap: 5px; /* Ajusta según sea necesario */
}
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las tarjetas */
}
