/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}

// .dashboard-container {
//     background-image: url('/assets/Lucem_Aspicio.png'); /* Agrega una barra al inicio */
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     min-height: 100vh;
// }
.dashboard-container {
    background-image: url('/assets/Lucem_Aspicio.png');
    background-size: 90% auto; /* Reduce el ancho al 40% y mantiene la altura automática */
    background-position: center top 15px; /* Centra la imagen y la sube al header*/
    background-repeat: no-repeat;
    min-height: 5vh;/* hace que la imagen cubra toda la pantalla*/
}




.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
