/* @import 'primeng/resources/themes/lara-light-indigo/theme.css';
@import 'primeng/resources/primeng.min.css';
 */


/* Estilo general de los paneles */
.panel-content {
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .panel-body {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }

  .p-step-panel.ui-step-panel-active .panel-body {
    background-color: #e0f7fa; /* Color más brillante para el paso activo */
    border-color: #00796b;
  }

  .p-step-panel:not(.ui-step-panel-active) .panel-body {
    background-color: #f1f1f1;
    border-color: #b0bec5;
  }

  /* Estilos para los botones */
  .next-button, .back-button {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .next-button:hover, .back-button:hover {
    background-color: #00796b;
    border-color: #004d40;
    color: white;
  }

  /* Botones secundarios */
  .back-button {
    background-color: #f1f1f1;
    border-color: #cfd8dc;
    color: #00796b;
  }

  .back-button:hover {
    background-color: #00796b;
    color: white;
  }

  /* Estilo para el stepper */
  .p-stepper .p-step {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00796b;
  }

  .p-stepper .p-step-list {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .p-stepper .p-step-list .p-step {
    padding: 10px;
    cursor: pointer;
  }

  .p-stepper .p-step-list .p-step.ui-state-active {
    background-color: #00796b;
    color: white;
  }

  .p-stepper .p-step-list .p-step.ui-state-completed {
    background-color: #4caf50;
    color: white;
  }

  .p-stepper .p-step-list .p-step.ui-state-done {
    background-color: #81c784;
    color: white;
  }

  /* Estilo general para el modal */
  .p-dialog {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .p-dialog .p-dialog-header {
    background-color: #00796b;
    color: white;
  }

  .p-dialog .p-dialog-footer {
    background-color: #f1f1f1;
  }
